<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:include="/layout/head::header"></div>
    <div th:if="${session.user}">
        欢迎登陆<span th:text="${session.user.username}"
    </div>
</div>

<script th:src="@{/jquery-3.3.1.min.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap/js/bootstrap.bundle.js}" type="text/javascript"></script>
</body>
</html>