<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/editormd/css/editormd.min.css}" />
</head>
<body>
<div class="container">
    <div th:include="/layout/head::header"></div>
    <form method="post" th:action="@{/admin/save}" th:object="${article}">
        <div class="container">
            <br/>
            <br/>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <div class="input-group-btn">

                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" id="categoryBtn" th:value="${target.category}"><span th:text="${target.category.name}"/></button>
                            <ul class="dropdown-menu">
                                <li th:each="category:${categories}">
                                    <a th:name="${category.name}" th:abbr="${category.displayName}" onclick="selectCategory(this)" th:text="${category.displayName}"></a>
                                </li>
                            </ul>
                        </div>
                        <input name="category" id="cateoryInput" type="hidden" th:field="*{category.name}" th:value="@{target.title}"/>
                        <input name="id" type="hidden" th:value="${target.id}"/>
                        <input th:type="text" class="form-contorl" name="title" th:field="*{title}" th:placeholder="${target.title}"/>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <!--文本标记区-->
        <div id="layout" style="width: 100%;height: 100%">
            <div id="editormd">
                <textarea style="display:none;" name="content" th:field="*{content}" th:text="${target.content}"></textarea>
            </div>
        </div>
        <!--提交按钮-->
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <p>
                    <input type="submit" class="btn btn-primary btn-lg" role="button" value="发表">
                </p>
            </div>
        </div>

    </form>

</div>

<script th:src="@{/jquery-3.3.1.min.js}" type="text/javascript"></script>
<script th:src="@{/editormd/editormd.min.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap/js/bootstrap.bundle.js}" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        var editor = editormd("editormd", {
            width   : "100%",
            height  : 740,
            emoji   : true,
            syncScrolling : "single",
            path : "../../editormd/lib/"
        });
    });
</script>

<script th:inline="javascript">
    function selectCategory(obj) {
        var name = $(obj).attr("name");
        var displayName = $(obj).attr("abbr");
        console.log(name + "   " + displayName);
        $("#categoryBtn").html(displayName);
        $("#cateoryInput").val(name);
    }
</script>
</body>
</html>