<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:include="/layout/head::header"></div>
    <div class="panel panel-info">
        <div class="page-header">
            <h3 class="panel-title" th:utext="${article.title}"></h3>
        </div>
        <div class="panel-body">
            <div th:utext="${article.content}"></div>
        </div>
    </div>
</div>
<script th:href="@{/jquery-3.3.1.min.js}" type="text/javascript"></script>
<script th:href="@{/bootstrap/js/bootstrap.bundle.js}" type="text/javascript"></script>
</body>
</html>